.editor {
  width: 100%;
  height: 1000px;
}

.editor-top-block {
  position: relative;
  top: -37px;
  text-align: center;
}

.editor-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  padding: 31px 195px;
  background-color: $purple;
  border: none;
  border-radius: 40px;
  color: $header-link;
  transition: all 0.3s linear;

  &:hover{
    background-color: $header-link;
    color: $purple;
    border: 3px solid $purple;
  }

}
.editor-days {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: $paremeters;
  margin-top: 20px;
}
.editor-content {
  max-width: 851px;
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.editor-title {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  color: $editor-title;
  text-transform: uppercase;
}
.editor-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: $editor-text;
  padding-top: 27px;
}
.editor-git-block{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}



.git-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px lightgray solid;
  border-radius: 8px;
  margin: 10px;

  & a{
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;

    & p{
      font-weight: 700;
      color: $editor-text;
      padding: 0 5px;
    }
  }
  & span{
    background-color: #fff;
    padding: 12.5px;
    border-left: 1px lightgray solid;
    font-weight: 700;
    color: $editor-text;
  }
}
@media (max-width:1200px){
  .editor-top-block{
    top: -36px;
  }
}

@media (max-width:768px){
  .editor-title{
    font-size: 42px;
    line-height: 42px;
  }
  .editor-text{
    font-size: 21px;
    line-height: 32px;
  }
}

@media (max-width:680px){
  .editor-btn {
    padding: 25px 120px;
    font-size: 18px;
  }
}

@media (max-width:480px){
  .editor-top-block{
    top: -30px;
  }
  .editor-btn {
    padding: 22px 100px;
  }
  .editor-title{
    font-size: 26px;
    line-height: 28px;
  }
  .editor-text{
    font-size: 17px;
    line-height: 20px;
  }
  .git-btn a{
    padding: 0 6px;
  }
}

@media (max-width:427px){
  .editor-top-block{
    top: -25px;
  }
  .editor-btn {
    padding: 18px 40px;
  }
  .git-btn{
    margin: 10px 5px;
  }
  .git-btn a{
    font-size: 12px;
    padding: 0 4px;
  }
  .git-btn span{
    font-size: 12px;
    padding: 9px;
  }
}