.editor {
  width: 100%;
  height: 1000px;
}

.editor-top-block {
  position: relative;
  text-align: center;
  top: -31px;
}

.editor-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  width: 390px;
  padding: 31px 195px;
  background-color: $purple;
  border-radius: 40px;
  color: $header-link;
  transition: all 0.3s linear;

  &:hover{
    background-color: $header-link;
    color: $purple;
    border: 3px solid $purple;
  }

}
.editor-days {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: $paremeters;
  margin-top: 50px;
}
.editor-content {
  max-width: 851px;
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.editor-title {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  color: $editor-title;
}
.editor-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: $editor-text;
  padding-top: 27px;
}
.editor-git-block{
  display: flex;
  margin-top: 30px;
}



.git-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px lightgray solid;
  border-radius: 8px;
  margin: 0 10px;

  & a{
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;

    & p{
      font-weight: 700;
      color: $editor-text;
      padding: 0 5px;
    }
  }
  & span{
    background-color: #fff;
    padding: 12.5px;
    border-left: 1px lightgray solid;
    font-weight: 700;
    color: $editor-text;
  }
}
@media (max-width:1200px){
  .editor-top-block{
    top: -10px;
  }
}

@media (max-width:768px){
  .editor-title{
    font-size: 42px;
    line-height: 42px;
  }
  .editor-text{
    font-size: 21px;
    line-height: 32px;
  }
}

@media (max-width:662px){
  .editor-top-block{
    width: 300px;
    padding: 28px 150px;
    font-size: 16px;
  }
}