header{
  width: 100%;
}
.wrapper{
  width: 100%;
  height: 100vh;
  background: url(../img/header_fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_wrapper{
  @include d-f-space-between;
  padding: 30px 0 33px;
}
.header_inner{
  display: flex;
  align-items: center;
}
.header_wrapper_logo{
  display: flex;
  align-items: center;
}

.logo{
  width: 43px;
  height: 41px;

  &_text{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: $purple;
  margin-left: 17px;
  transition: all 0.3s linear;

  &:hover{
    color: $header-link;
  }
  }
}



.nav_item {
  display: flex;

  &_link{
    @include font-header ;
    color: $purple;
    padding: 0 24px;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  &_link:hover{
    color: $header-link;
  }
}

.header_button{
  background-color: $purple;
  width: 147px;
  height: 39px;
  margin-left: 24px;
  border-radius: 40px;
  border: none;
  color: $header-link;
  transition: all 0.3s linear;

  &_text{
    @include font-header ;
  }
}

.header_button:hover{
  background-color: $header-link;
  color: $purple;

}
.header_info{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 183px;
  
  &-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    color: $header-title;
  }

  &-sbtitle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: $purple;
  }
  &-parameters{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: $paremeters;
    padding: 8px 0;
  }
}
.sub-menu{
  position: absolute;
  display: none;
  top: 89px;
  left: 93px;
}
.nav_menu {
  display: flex;
}
.nav_menu_link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  color: $purple;
  padding: 0 24px;
  transition: all 0.3s linear;
}
.nav_menu_link:hover{
  color: $header-link;
}
.menu{
  width: 46px;
  height: 46px;
  cursor: pointer;
  display: none;
}

.overlay{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #333;
  overflow-x: hidden;
  transition: all 0.5s linear;
}

.overlay-content{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 15%;
  left: 10%;
  width: 100%;
  margin-top: 30px;
}

.overlay span{
  padding: 25px 40px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  display: block;
  transition: all 0.3s linear;
  color: $header-link;
}


.overlay span:hover, .overlay span:focus{
  color: #8D81AC;
  border-left: 10px #8D81AC solid;
}

.overlay .closebtn{
  position: absolute;
  top: 45px;
  right: 33px;
  height: 29px;
  width: 29px;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn{
    top: 15px;
    right: 35px;
  }
}


@media (max-width: 1200px){
  .header_info{
    margin-top: 118px;
  }
  .wrapper{
    background-size: 100% 100%;
  }
}

@media (max-width: 993px){
  .nav_item_link{
    padding: 0 15px;
  }
  .header_info{
    margin-top: 133px;
  }
}

@media (max-width: 880px){
  .nav_item_link{
    padding: 0 12px;
  }
  .header_info-title{
    font-size: 72px;
    line-height: 72px;
  }
  .header_info-sbtitle{
    font-size: 24px;
    line-height: 36px;
  }
  .header_info-parameters{
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 814px){
  .nav_item_link{
    font-size: 14px;
  }
}

@media (max-width: 768px){
  .header_wrapper{
    width: 102%;
    height: 118px;
    margin-left: -8px;
    background-color: #27262A;
  }
  .header_info{
    margin-top: 100px;
  }
  .nav{
    display: none
  }
  .sub-menu{
    display: block;
  }
  .nav_item_link{
    padding: 0 5px;
  }
  .logo{
    margin-left: 10px;
  }
  .header_button{
    margin-right: 10px;
  }
}
@media (max-width: 662px){
  .sub-menu{
    left: 78px;
  }
  .nav_menu_link{
    padding: 0 15px;
  }
}

@media (max-width: 561px){
  .sub-menu{
    left: 61px;
  }
  .nav_menu_link{
    font-size: 14px;
    padding: 0 13px;
  }
}

@media (max-width: 485px){
  .sub-menu{
    left: 35px;
  }
  .nav_menu_link{
    font-size: 14px;
    padding: 0 10px;
  }
  .header_wrapper{
    width: 104%;
  }
}

@media (max-width: 450px){
  .sub-menu, .logo_text{
    display: none;
  }
  .header_button{
    width: 119px;
    height: 37px;
  }
  .header_wrapper{
    display: flex;
    justify-content: space-around;
  }
  .menu{
    display: block;
  }
  .header_info-title{
    font-size: 48px;
    line-height: 48px;
  }
  .header_info-sbtitle{
    font-size: 18px;
    line-height: 24px;
  }

  .header_info-parameters{
    font-size: 14px;
    line-height: 14px
  }
}