$header-link: #fff;
$header-title: #fff;
$purple: #8D81AC;
$paremeters: #848E97;
$editor-title: #635C73;
$editor-text: #323232;
$you-bagr-color:#f4f4f4;
$title-color: #FFFFFF;
$secondary-text-color: #ffffff;
$primary-fonts: 'Montserrat',
sans-serif;
$secondary-fonts: 'Lato',
sans-serif;