.you{
  width: 100%;
  background-color: $you-bagr-color;

  &-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 90px 0 140px;
  }
}


.you-cotent-info{
  display: flex;
  width: 536px;
  height: 110px;
  margin-bottom: 45px;

  & .search{
    width: 111px;
    height: 64px;
  }

  & .tool{
    width: 90px;
    height: 80px;
    margin-right: 26px;
  }

  & .stuff{
    height: 84px;
    width: 60px;
    margin-right: 51px;
  }

  & .clock{
    height: 71px;
    width: 71px;
    margin-right: 40px;
  }
}

.you-cotent-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  padding-left: 23px;

  & h3{ 
    line-height: 21px;
    color: $editor-text;
  }
  & p{
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
    color: $paremeters;
  }
}
.you-code{
  text-align: center;
}
.you-code-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: $purple;
  padding-bottom: 20px;

  &::before{
    content: "<";
  }
  &::after{
    content: ">";
  }
}
.you-code-img{
  position: absolute;
  right: 0;

  & img{
    width: 900px;
  }
}
.min-wrapper {
  padding: 20px 0;
  display: none;
}
.min-wrapper-info {
  width: 100%;
  padding: 0 30px;
}
.min-wrapper-info-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 100px;
  text-align: center;
  color: $purple;

  &::before{
    content: "<";
  }
  &::after{
    content: ">";
  }
}
.min-info-content {
  display: flex;
  margin: 30px 0;

  & .search{
    width: 111px;
    height: 64px;
  }

  & .tool{
    width: 90px;
    height: 80px;
    margin-right: 26px;
  }

  & .stuff{
    height: 84px;
    width: 60px;
    margin-right: 51px;
  }

  & .clock{
    height: 71px;
    width: 71px;
    margin-right: 40px;
  }
}

.min-info-content-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  padding: 0 20px;

  & h3{
    font-size: 16px;
    line-height: 21px;
    color: $editor-text;
  }
  & p{
    font-size: 14px;
    line-height: 21px;
    color: $editor-title;
  }
}

.min-wrapper-img{
  right: 0;

}

@media (max-width: 1200px){
    .you-code-img{  
    & img{
      width: 630px;
    }
  }
  .you-cotent-info{
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px){
  .you-cotent-text{
    width: 360px;
    & h3{ 
      font-size: 14px;
      line-height: 18px;
    }
    & p{
      font-size: 12px;
      line-height: 19px;
    }
  }
  .you-code-title{
    font-size: 30px;
  }
  .you-code-img{  
    & img{
      width: 500px;
    }
  }
}
@media (max-width: 768px){
  .you{
    background-color: $header-title;
  }
  .you-wrapper{
    display: none;
  }
  .min-wrapper{
    display: block;
  }
}
@media (max-width: 682px){
  .min-wrapper-info-title {
    font-size: 32px;
    line-height: 38px;
  }
  .min-wrapper-img{  
    & img{
      width: 600px;
    }
  }
}

@media (max-width: 490px){
  .min-wrapper-img{  
    & img{
      width: 400px;
    }
  }
}
@media (max-width: 420px){
  .min-info-content-text{
    padding: 0;
  }
  .min-wrapper-img{  
    & img{
      width: 320px;
    }
  }
  .min-info-content{
    display: block;
    text-align: center;

    &-text h3{
      font-size: 13px;
      line-height: 45px;
    }

    &-text p{
      font-size: 12px;
      line-height: 19px;
    }

     & .stuff, .clock, .tool{
      margin-right: 0;
    }  
  }
}