body{
  font-size: 25px;
  display: flex;
}
span{
  font-size: 20px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}

div{
  font-size: 20px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}