@import url(https://fonts.googleapis.com/css?family=Lato:regular,italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,normal,700);
@import '_reset.scss';
@import "_var.scss";
@import "_mixin.scss";
@import "_container.scss";
@import "_header.scss";
@import "_editor.scss";
@import "_you.scss";
@import "_people.scss";
@import "_subscription.scss";

body{
  font-family: 'Montserrat';
}